/* DESIGN ELEMENTS*/

body { 
    background-color: #000000;
    color: #dfdfdf;
}

.homepagebg {
    background-image: url("homepagebg.jpg"); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 75%;
    background-position: center;
}

.reinagibg {
    background-image: url("reinagibg.png"); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 80%;
    background-position: center;
}

hr {
    background:#dfdfdf;
    width: 100%; 
    margin: 20px 0px 20px 0px;
}

.inline {
    display: inline;
}

.box {
    display: inline-block;
    border-width: 1px ;
    border-style: solid;
    border-color: #dedede;
    background-color: rgba(0, 0, 0, 0.3);
    width: 65.5%; 
    margin: 2%; 
    vertical-align: top; 
}

.boxpic {
    position: relative;
    display: inline-block;
    border-width: 1px ;
    border-style: solid;
    border-color: #dedede;
    background-color: rgba(0, 0, 0, 0.3);
    width: 25.5%; 
    margin: 2%; 
    vertical-align: top; 
}

.boxquote {
    border-width: 1px ;
    border-style: solid;
    border-color: #dedede;
    background-color: rgba(0, 0, 0, 0.3);
}

.boxwhole {
    display: inline-block;
    border-width: 1px ;
    border-style: solid;
    border-color: #dedede;
    background-color: rgba(0, 0, 0, 0.3);
    width: 95%; 
    margin: 2%; 
}

.box2 {
    display: inline-block;
    border-width: 1px ;
    border-style: solid;
    border-color: #dedede;
    background-color: rgba(0, 0, 0, 0.3);
    width: 45.3%; 
    margin: 2%; 
    vertical-align: top; 
}

.box2mod {
    display: inline-block;
    border-width: 1px ;
    border-style: solid;
    border-color: #dedede;
    background-color: rgba(255, 255, 255);
    color: #000000;
    width: 44.3%; 
    height: 330px;
    padding: 0px 0px 0px 10px;
    margin: 2%; 
    vertical-align: top; 
}

.box3 {
    display: inline-block;
    border-width: 1px ;
    border-style: solid;
    border-color: #dedede;
    background-color: rgba(0, 0, 0, 0.3);
    width: 28%; 
    margin: 2%; 
    vertical-align: top; 
}

.column1 {
    column-count: 2;
    column-fill: auto;
    column-gap: 1px;
    height: 640px;
}

.column2 {
    column-count: 2;
    column-fill: auto;
    column-gap: 1px;
    height: 250px;
}

.border {
    width: 10%;
    background-color: rgba(34, 34, 34, 0.5);
    padding: 10px;
    margin: 5px;
    border-width: 1px;
    border-style: inset;
    border-color: #dfdfdf;
}

.border2 {
    width: 64%;
    background-color: rgba(34, 34, 34, 0.5);
    padding: 10px;
    margin: 50px;
    border-width: 1px;
    border-style: inset;
    border-color: #dfdfdf;
}

.box4 {
    display: inline-flex;
    width: 31%; 
    margin: 2%; 
    padding: 14% 0%;
}

/* TEXTS */

.heading {
    font: normal 600 50px "Zen Old Mincho", serif;
    text-align: inherit;
    padding: 15px 0px 0px 0px;
    margin: -20px;
}

.subhead {
    font: normal 600 40px "Zen Old Mincho", serif;
    text-align: center;
    background-color: rgba(34, 34, 34, 0.5);
    padding: 10px;
    margin: 5px;
    line-height: 1em;
    border-width: 1px;
    border-style: inset;
    border-color: #dfdfdf;
}

.text {
    font: normal 400 15px 'Space Mono', monospace;
    text-align: match-parent;
    padding: 0px;
    margin: 1em;
} 

.text2 {
    font: normal 400 30px "Zen Old Mincho", serif;
    text-align: match-parent;
    line-height: 1.2em;
}

.smallcaps {
    font-variant: small-caps;
    padding: 0px;
    margin: 1em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* IMAGE */

.myimg {
    border-width: 1px ;
    border-style: solid;
    border-color: #dedede;
    width: 95.5%;
    margin: 2%; 

    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 27%;
    left: 48%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.boxpic:hover .myimg {
    opacity: 0.3;
}

.boxpic:hover .middle {
    opacity: 1;
}

.middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 41%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.boxpic:hover .middle2 {
    opacity: 1;
}

/* LIST */

ul {
    font: normal 400 15px 'Space Mono', monospace;
    text-align: match-parent;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    list-style-position: inside;
    list-style-image: url("singlequote1.png");
}

/* NAVIGATION */
.navitop {
    display: block;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dedede;
    background-color:  #000000;
    font: normal 400 15px 'Space Mono', monospace;
    position: absolute;
    top: 7;
    width: 98.6%;
}

.navibot {
    display: block;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dedede;
    background-color:  #000000;
    font: normal 400 15px 'Space Mono', monospace;
    position: fixed;
    bottom: 7;
    width: 98.6%;
}

.navleft{
    display: inline;    
    float: left;
    padding: 14px 16px;    
}

.navright{
    display: inline;    
    float: right; 
    padding: 16px 14px;   
}
  
.navmid{
    display: block;    
    text-align: center; 
    padding: 16px 14px;
}

.navibot li a{
    display: inline;    
}

.dropdown-content {
    display: none;
    position: fixed;
    text-align: center;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 3;
  }
  
.navmid:hover .dropdown-content {
    display: block;
  }

/* FOOTER */

footer {
    align-content: center;
    display: inline-flexbox;
    border: 1px solid #dedede;
    background-color: rgba(0, 0, 0, 0.3);
    font: normal 400 15px 'Space Mono', monospace;
    color: #dfdfdf;
    text-align: center;
}

/* LINKS */

a {
    text-decoration: none;
}
a:link{
    color: #dedede;
}
a:visited {
    color: #d4b359;
}
a:hover {
    color: #d4b359;
    text-decoration: underline solid;
    font-style: italic;
}

/* ALIGN */

.txtleft {
    text-align: left;
}

.txtright {
    text-align: right;
}

.txtjustify {
    text-align: justify;
}

.txtcenter{
    text-align: center; 
    margin: 1em;
}

/* FLOAT */

.floatleft {
    float: left;
    position: relative;
}

.floatright {
    float: right;
    position: sticky;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
